body {
    font-family: Arial, sans-serif;
    background-color: #a29d7f ; 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #d2ceb7;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    background-image: url('logoteste.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    left: 30px;
    top: 30px;
    position: absolute;
}

h2 {
    text-align: center;
}

form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 18px;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #444444;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
