body {
    font-family: Arial, sans-serif;
    background-color: #a29d7f ; 
    margin: 0;
    padding: 0;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    background-image: url('logoteste.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    left: 30px;
    top: 30px;
    position: absolute;
}

h1 {
    text-align: center;
}

.cart-items {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.item {
    display: flex;
    margin-bottom: 20px;
}

.item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.item-details h2 {
    margin-top: 0;
}

.item-details label {
    display: block;
}

.item-details input[type="number"] {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.cart-total {
    border-top: 2px solid #333;
    padding-top: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.checkout-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #45a049;
}
