body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8aeb9;
    height: 100vh;
    }

header {
    background-color: #e9819a ; 
    color: #fff;
    padding: 20px;
    text-align: center;
}
.logo {
    width: 150px; 
    height: 150px; 
    background-image: url('mclogobran.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    height: 610px;
}

.product-details {
    display: flex;
    align-items: center;
}

.product-image img {
    max-width: 300px;
    height: auto;
    margin-right: 20px;
}

.product-info {
    flex: 1;
}

.product-info h2 {
    margin-top: 0;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.description {
    margin-bottom: 20px;
}

.size-options {
    margin-bottom: 20px;
}

.add-to-cart {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #555;
}
footer {
    background-color: #e9819a ; 
    color: #fff;
    padding: 20px;
    text-align: center;
   position: relative;
   
}

section{
    max-width: 100vh;
}