body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #899ebe;
}

header {
    background-color:#627ea8 ; 
    color: #fff; 
    padding: 4px; 
    height: 110px;

  
}

.header-content{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.destaq{
    left: 41%;
    font-family:'Times New Roman', Times, serif;
    height: 100px;
}
.titulo{
    font-size: 35px;   
    font-family:'Times New Roman', Times, serif;
   
}
.gender-link {
    margin-right: 20px; 
    left: 500px;
    position: relative;
}

.gender-link a {
    color: #fff;
    background-color: #333; /* Cor de fundo do botão */
    padding: 8px 16px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    text-decoration: none; /* Remover sublinhado */
}

.gender-link a:hover {
    background-color: #555; /* Cor de fundo do botão em hover */
}
.logo {
    width: 150px; 
    height: 120px; 
    background-image: url('mclogobran.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
}


.user-links a {
    color: #fff;
    text-decoration:wavy; 
    top: 100px;
}

.user-links a:hover {
    text-decoration: underline; 
    top: 100px;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}
h1 {
    margin-top: 0;
}
.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-item {
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 350px;
}
.product-item:hover {
    transform: scale(1.05); /* Amplia o card em 5% */
    transition: transform 0.3s ease; /* Adiciona uma transição suave de 0.3 segundos */
}

.product-image {
    width: 100%;
    height: 400px;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
}
.product-details {
    padding: 20px;
}
.product-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.product-price {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
}


footer {
    background-color:#627ea8 ; 
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

